*{
  margin: 0;
  padding: 0;
  
  
}
.list-link, .navbar{
  text-decoration: none;
  color :white;
}
.list-link:hover{
  color:Orange;
  font-size: 2rem;
}
.background-img{
  background-position: center; 
  height:100%;
  width :100%;
  background-repeat: no-repeat;
  background-size: cover;  
  position:absolute;
}
.list-item{
  display: inline;
  
}
.logo{
  float:left;
}
.navbar{
  position:relative;
  text-align: right;  
}
