*{
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
}
/* body{
  background-image: url(images/square.jpg);
  background-repeat: no-repeat;
  background-size: 20% auto;
  margin-left: 30%;
  background-attachment: scroll;

} */
h1{
  font-family: 'Licorice', cursive;
  text-align: center;
}


/* Navbar Section */

#navbar{
  text-align: right;
}
.nav-item{
  display: inline;
  padding:1rem ;
  list-style-type: none;
}
.logo{
  float:left;
  padding :0;
}

/* Container for about and image */
.container{
  text-align: center;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
}
.left {
  width: 100%;
}
.right {
  width: 70%;
}
.inferno{
  height:50%;
  width:50%;
}


/* .list-link, .navbar{
  text-decoration: none;
  color :white;
}
.list-link:hover{
  color:Orange;
  font-size: 2rem;
}

.list-item{
  display: inline;
  
}
.logo{
  float:left;
}
.navbar{
  text-align: right;  
} */
