*{
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
}
a{
  text-decoration: none;
  color:black;
}
h1{
  font-family: 'Licorice', cursive;
  text-align: center;
}


/* Navbar Section */

#navbar{
  text-align: right;
}
.nav-item {
  display: inline;
  padding:1rem ;
  list-style-type: none;
}
.logo{
  float:left;
  padding :0;
}

/* Container for about and image */
.container{
  text-align: center;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
}
.left {
  width: 100%;
}
.right {
  width: 70%;
}
.inferno{
  height:50%;
  width:50%;
}

/* Footer Section */
 .ul-remove-bullet{
  
    display: inline-block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start:0 ;
    padding:25px 60px 0px 60px;
}
.footer-row {
  box-sizing: border-box;
}
.footer-col {
    background-color: cyan;
    float: left;
    height: 200px;
    padding-top:15px;
    border:1px;
    border-color: black;
}
.footer-left, .footer-right{
  text-align: left;
  width: 30%;
}
.footer-mid{
  text-align:center;
  width: 40%;
}
.footer-right{
  text-align: right;
}
.footer-item-left,.footer-item-right {
   padding:0.5rem;
}
.footer-item-centre{
  padding:2rem;
}











/* body{
  background-image: url(images/square.jpg);
  background-repeat: no-repeat;
  background-size: 20% auto;
  margin-left: 30%;
  background-attachment: scroll;

} */
/* .list-link, .navbar{
  text-decoration: none;
  color :white;
}
.list-link:hover{
  color:Orange;
  font-size: 2rem;
}

.list-item{
  display: inline;
  
}
.logo{
  float:left;
}
.navbar{
  text-align: right;  
} */
